body {
  font-family: "Century Gothic", "Futura", sans-serif;
}

h1 {
  font-size: 30px;
  text-align: center;
}

/*Set navbar as fixed on top of the screen  */
#menu {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: fit-content;
  list-style-type: none;
  padding: 10px;
}

/*Top menu list items */
#menu li {
  display: inline-block;
  width: 120px;
  text-align: center;
  background-color: white;
}

/* Hover property of the navbar */
#menu li:hover {
  background-color: gray;
}

#menu a {
  text-decoration: none;
  color: #000;
}

#menu a:hover {
  color: ivory;
}

#pillars_menu {
  list-style-type: none;
  padding: 10px;
}

#pillars_menu li {
  display: inline-block;
  width: auto;
  text-align: center;
}

#pillars_menu img {
  border-radius: 25px;
}
#pillars_menu img:hover {
  opacity: 0.5;
}

#banner {
  width: 100%;
}
